.bod{
    font-family: "montserrat";  
}
#title{
    
    align-content: center;
    background-position: center;
    background-size: cover;
   background-repeat: no-repeat;
  background-attachment: fixed; 
  
    padding-bottom: 50px;
}
.title-head{
    font-size: 4em;
    
margin-top:30px;
margin-left:5rem;
/* margin-left: 60px;   */
}


.myrow{
    padding-top: 30px;
    align-content: center;
   
    color: aliceblue;
    
}



.videoContainer{
  align-items: center;
  padding-left: 50px;
}
.video{
    height: 350px;
    width: 500px;
    
}

.bar{
    position:sticky;
}

/* breeds section starts */
#breeds{
 background-color: white;   
 text-align: center;
}
.container-fluid{
    padding: 1.5% 5% 5%;
width: 90%;
    background-color: rgb(11, 11, 10);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: 20px;
}
.pricing-head{
    padding: 20px;
}
.pricing-column{
    padding: 3% 1.5%;
    text-align: center;
    
}

.breed-images{
    height: 200px;
    width: 240px;
    border-radius: 20px;
}
@media (max-width:700px){
    .middle > img{
        height: 150px;
        width: 150px;
       
    }
   
}

.cards{
    background-color: rgb(255 255 255 /50%);
    border-radius: 30px;
    
}

/* footer */
.footer{
    height: 60px;
    width: 60px;
    position:absolute;
    background-color: orange;
    right: 2%;

}

.footer:hover{
    background-color:  orange;
    transition:ease-in 200ms;
    transform:scale(1.5);
    border-radius: 100px;
}
.homebutton{
    margin-top: 5px;
    border-radius: 100;
    position: fixed;
    z-index: 2;
    right:2%;
    background-color: orange;
    height: 55px;
    width: 55px;
}
.homebutton:hover{
    background-color:  orange;
    transition:ease-in 100ms;
    transform:scale(1.15);
    border-radius: 100px;
}